section {
    margin-left: 200px;
    color:white;
    height:100%;   
}

section .btn-outline-inverse {
    
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    transition: 2s;
    /*margin-left: auto;*/
    /*margin-right:0;*/
    float:right;
    margin-right: 20%;
    margin-top: 3em;    
}
